body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.text {
  width: 75%;
  text-align: left;
  margin: auto;
}

p.menu {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  background-color: #333;
  color: #fff;
  font-weight: normal;
  padding: 10px;
  text-align: left;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
